/* google font import */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    height: 80ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(68, 2, 68);

}
.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}
.container .form{
    padding: 30px;
    
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;

}
.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color:rgb(82, 1, 82) ;
    border-radius: 25px;
}
.form .input-field{
    
    position: relative;
    height: 50px;
    width:100%;
margin-top: 30px;
}
.input-field input{
    /* position: absolute; */
    height: 100%;
    width: 100%; 
    padding: 0 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid){
    border-bottom-color:rgb(82, 1, 82) ;
}
.input-field i{

    position: absolute;
    top: 40%;
    
    transform: translateY(-10%);
    color: #999;
    font-size: 21px;
    cursor: pointer;
    
}
.input-field input:is(:focus, :valid)~i{
    color:rgb(82, 1, 82) ;
}

.input-field i.icon{
    left: 0;
}
.input-field i.class{
    right: 0;

    padding: 10px;
}
.form .checkbox-text{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
gap: 1rem;

}
.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #4070f4 ;
}
.form .text{
    color: #333;
    font-size: 14px;

}
.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 35px;
}
.form .button input{
    border: none;
    color:white;
    font-size: 17px;
    background-color: #06194b;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover{
    background-color: #265df2;
}
.form .login-signup{
    margin-top: 30px;
    text-align: center;
    
}


#hide1{
    display: none;
}